<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Product Development Executive at
      <a class="underline-link" href="https://www.everbetter.site/" target="_blank">EverBetter Innovations</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ubd.edu.bn/" target="_blank">Universiti Brunei Darussalam</a> with a Bachelor's degree in Mathematics, where I developed a foundation in statistical analysis and data science through various relevant modules and experiences.
    </p>

    <p>
      During my final year, I applied spatio-temporal modelling using R on advertised house prices in Brunei Darussalam as my research project which was supervised by <a class="underline-link" href="https://www.haziqj.ml/" target="_blank">Dr. Haziq Jamil</a>. 
    </p>

    <p>
    I am passionate about data analysis and science, and I am always eager to explore new opportunities in these fields. If you have any interesting projects or collaborations in mind, feel free to reach out to me.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
